@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: content-box;
}
nav {
    background-color: #FFFFFF;
}
.nav-container{
   min-height: 60px;
   max-width: 1400px;
   display: flex;
   align-items: center;
   margin: 0 auto;
   
}
.logo-container{

    display: flex;
    width: 50%;
}


.logo-container img{
 width: 100px;
 margin: 20px;

 
}

.logo-container p{
    font-size: 40px;
  font-weight: 500;
 margin: 20px;
}
.logo-container .g-section{
    color: deeppink;
}
.nav-items-container{
 
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
}
.nav-items-container .btn{
    background-color:whitesmoke;
    padding: 8px 8px 15px 10px;
    margin: 5px 8px;
    font-weight: 700;
    border-radius: 5px; 
    
}
.fa-youtube{
   color: red;
}
 .fa-tiktok{
    padding: 3px;
    margin: 3px;
}
.banner-container{
    background-color: beige;
    display: flex;
    justify-content: center;
}
.banner-text{
  align-items: flex-start;
  margin: 80px;
  height: 200x;
  
}
.banner-text h1{
    background-image: linear-gradient(to bottom, red,blue);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 45px;
}

.banner-img img{
    width: 100%;
    height: 450px;
}
.funny-text{
    background-image: linear-gradient(to bottom, red,blue);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 15px;
}
.banner-title{
    text-align: center;
}
.hover-container{
    display: flex;
}
.hover-container .div{
    width: 100px;
    height: 90px;
    margin: 50px;
    padding: 30px;
}
.grid-container{
    width: 80%;
    text-align: center;
    font-size: 15px;
    border: 50px;
    display:flex;
}

.grid-container img{
    display: grid;
    max-width: 1400px;
    min-height: 400px;
    margin: 20px auto 0;
   grid-template-columns: repeat(4,1fr);
   border-radius: 10px;
   padding: 0 10px;

}
.banner-sec-3{
    display: flex;
    justify-content: center;
}
.section-3-text{
    justify-content: center;
    text-align: center;
}
.image-section{
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.banner-sec-3 .image-1{
  width: 600px;
  border: 400px;
  margin: 70px 50px 60px 50px;
}
.banner-sec-3 .image-2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-left: 370px;
    margin-right: 170px;
    width: 310px;

    }


.sign-in{
    width: 70px;
    background-color: deeppink;
    color: white;
    padding: 15px 15px 10px 10px;
    border-radius: 30px;
    margin: 10px 10px;
    border: none;
    
}
.go-rogue{
    width: 70px;
    background-color:skyblue;
    padding: 15px 15px 10px 10px;
    border-radius: 20px;
   color: white;
    border-radius: 20px;
    border: none;
   
}
.div-sec:hover{
    background-color:none;
    border-radius: 5px;
    border: 1px solid pink;
    margin: 40px 50px;
    padding: 80px 90px;
    height: 100px;
    width: 200px;
    cursor: pointer;
    border-radius: 50px 60px;
    color: deeppink;
}
.div-sec{
    width: 100%;
    height: 100%;
    margin: 70px;
}

.div-footer{
    width: 100%;
    height: 100vh;
    text-decoration-color: white;
    text-align: center;
    background-color:black;
   
    
}
.footer-sec{
    margin-top: 20px;
    
}

.logo-footer{
padding: 70px;
font-size: 30px;
margin: 50px;
width: 1200px;
height: 60px;
justify-content: center;
}
.logo-footer .footer-amer{
    color: white;
}
.logo-footer,.footer-section{
    color: deeppink;
}

.footer-item{
    padding: 20px;
    margin: 20px 10px;
    justify-content: space-between;
    grid-row: 10px;
    text-align: center;
}
.footer-item a{
    text-decoration: none;
    color: white;
    height: 60px;
    width: 100px;
    margin: 50px;
    

 
}
  .fa-facebook{
    color: blue;
    width: 30px;
    height: 5px;
    row-gap: 10px;
}


.icon-btn{
width: 1300px;
 height: 60px;
 margin: 40px;
 border: 5px;
 border-radius: 5px;
 gap: 5px;

}
.headline{
    text-decoration: none;
}
.words{
    color: white;
    justify-content: center;
}
.words a{
   width: 100px;
   height: 60px;
   margin: 50px;
    color:white;
    text-decoration: none;
    margin: 20px;
    padding-bottom: 20px;
}
.copyright{
    color: whitesmoke;

}
 .fa-youtube{
    width: 30px;
    height: 5px;
    row-gap: 30px;
    row-gap: 10px;
  
}
.fa-twitter{
    width: 30px;
    height: 5px;
    row-gap: 10px;
  
}